:root {
    --Very-ligth-pink: #c7c7c7;
    --Hospital-green: #acd9b2;
    --Text-input-field: #f7f7f7;
    --White: #ffffff;
    --Black: #000000;
    --Dark: #232830;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
  }
  body {
    margin: 0;
    font-family: "Quicksand", sans-serif;
  }
  .menu {
    display: none;
    cursor: pointer;
  }
  .logo {
    width: 100px;
  }
  nav {
    display: flex;
    justify-content: space-between;
    padding: 12px;
    border-bottom: solid var(--Very-ligth-pink) 1px;
    background-color: var(--White);
  }
  .nav-left ul,
  .nav-right ul {
    list-style: none;
    padding: 0;
    display: flex;
    margin: 0;
    align-items: center;
    justify-content: center;
  }

  .nav-left ul {
    margin-left: 32px;
  }
  .nav-left a {
    text-decoration: none;
    color: var(--Very-ligth-pink);
    padding: 0 8px;
    border: solid var(--White) 1px;
    border-radius: 8px;
  }
  .nav-left a:hover {
    border-color: var(--Hospital-green);
    color: var(--Hospital-green);
  }
  .nav-left {
    display: flex;

    margin-left: 24px;
  }
  .nav-right {
    margin-right: 24px;
    display: flex;
    align-items: center;
  }
  .shopping-car div {
    position: absolute;
    top: 0;
    right: 0;
    width: 10px;
    height: 10px;
    background-color: var(--Hospital-green);
    border-radius: 50%;
    font-size: var(--sm);
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .shopping-car {
    position: relative;
    cursor: pointer;
  }
  .email {
    font-size: var(--sm);
    color: var(--Very-ligth-pink);
    margin-right: 24px;
    cursor: pointer;
  }
  .email:hover{
    color: var(--Hospital-green);
  }
  .car {
    position: relative;
  }

  .draw-menu {
    position: absolute;
    right: 81px;
    top: 53px;
    
    width: 100px;
    height: auto;
    border: solid var(--Very-ligth-pink) 1px;
    border-radius: 8px;
    padding: 20px;
    background-color: var(--White);
  }
  .draw-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .draw-menu ul li {
    text-align: end;
  }
  .draw-menu a {
    text-decoration: none;
  }
  .draw-menu ul li:nth-child(1) a,
  .draw-menu ul li:nth-child(2) a {
    font-size: var(--md);
    font-weight: bold;
    color: var(--Black);
  }
  .draw-menu ul li:nth-child(1),
  .draw-menu ul li:nth-child(2) {
    margin-bottom: 24px;
  }
  .draw-menu ul li:last-child {
    padding-top: 16px;
    border-top: solid var(--Text-input-field) 1px;
  }
  .draw-menu ul li:last-child a {
    color: var(--Hospital-green);
    font-size: var(--sm);
    font-weight: bold;
  }
.inactive{
    display: none;
}
.menu-mobile ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.menu-mobile {
  padding: 40px;
  position: absolute;
  left: -20px;
  top:50px ;
  height: 100%;
  width: 100%;
  background-color: var(--White);
}
.menu-mobile a {
  text-decoration: none;
  font-weight: bold;
  color: var(--Black);
  font-size: var(--md);
}
.menu-mobile li {
  margin-bottom: 30px;
}
.menu-mobile ul:nth-child(2) {
  border-top: solid var(--Very-ligth-pink) 1px;
  padding-top: 30px;
  margin-top: 30px;
}

.menu-mobile ul:nth-child(3) li:nth-child(1) {
  margin-bottom: 8px;
}
.menu-mobile ul:nth-child(3) li:nth-child(1) a {
  color: var(--Dark);
  font-weight: 300;
  margin-top: 24px;

}
.menu-mobile ul:nth-child(3) li:nth-child(2) a {
  color: var(--Hospital-green);
  font-weight: bold;
}

/* aside  */

/*car shopping*/

.primary-button {
  background-color: var(--Hospital-green);
  border: none;
  border-radius: 8px;
  width: 100%;
  color: var(--White);
  font-weight: bold;
  height: 50px;
  padding: 8px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: var(--md);
}
aside {
  width: 360px;
 background-color: var(--White);
  position: absolute;
  right: 0;
  padding: 16px;
  box-sizing: border-box;
  
}

.add-button {
  margin-top: 24px;
}
.card-order figure img {
  width: 70px;
  height: 70px;
  object-fit: cover;
  border-radius: 20px;
}
.card-order figure {
  padding: 0;
  margin: 0;
}
.order {
  width: 100%;
  height: 100vh;
  display: grid;
  place-items: center;
}
.total {
  background-color: var(--Text-input-field);
  display: grid;
  grid-template-columns: auto 1fr;
  padding: 16px;
  border-radius: 8px;
  gap: 16px;
  margin-bottom: 24px;
  align-items: center;
  align-self: flex-end;
}
.total p:nth-child(2) {
  text-align: end;
  color: var(--Dark);
  font-weight: bold;
  font-size: var(--md);
}
.total p span:nth-child(1) {
  color: var(--Dark);
  font-weight: bold;
  font-size: var(--md);
}
.total p span:nth-child(2) {
  color: var(--Very-ligth-pink);
  font-weight: 300;
  font-size: var(--md);
}
.container-order {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100%;
}
.total p {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.card-order p:nth-child(2) {
  color: var(--Very-ligth-pink);
  font-weight: 300;
}
.card-order p:nth-child(3) {
  color: var(--Dark);
  font-weight: bold;
  font-size: var(--md);
}
.card-order {
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 16px;
  margin-bottom: 24px;
  align-items: center;
  padding-right: 16px;
}
.title {
  font-size: var(--lg);
  margin-bottom: 24px;
}
/*detail product*/
#detailProduct{
  padding-top: 0;
  padding-bottom: 0;
}
.main-photo {
  width: 360px;
  height: 340px;
  border-radius: 0 0 20px 20px;
  object-fit: cover;
  position: relative;
}
.detail-content p:nth-child(1) {
  color: var(--Black);
  font-size: var(--lg);
  font-weight: bold;
  margin-bottom: 4px;
}
.detail-content p:nth-child(2),
.detail-content p:nth-child(3) {
  color: var(--Very-ligth-pink);
  font-size: var(--md);
  font-weight: 300;
}
.detail-content p:nth-child(3) {
  margin-top: 20px;
}
.detail-content p:nth-child(2) {
  margin-top: 0px;
}
.detail-content {
  padding: 0 16px 0 16px;
  margin-top: 32px;
  
}
.primary-button {
  background-color: var(--Hospital-green);
  border: none;
  border-radius: 8px;
  width: 100%;
  color: var(--White);
  font-weight: bold;
  height: 50px;
  padding: 8px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: var(--md);
}
.product-close {
  position: absolute;
  margin-left: 8px;
  margin-top: 8px;
  border-radius: 50%;
  background-color: var(--White);
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}
.add-button {
  margin-top: 24px;
}


  /*products home*/

  .cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 240px);
    gap: 24px;
    place-content: center;
    margin-top: 20px;
  }
  .card-product {
    width: 240px;
  }
  .card-product > img {
    width: 240px;
    height: 240px;
    border-radius: 20px;
    object-fit: cover;
  }
  .card-product figure img {
    width: 40px;
    height: 40px;
  }
  .card-product figure {
    margin-right: 8px;
    margin-top: 0px;
    margin-left: 0px;
  }

  .footer-contain {
    display: flex;
    justify-content: space-between;
    margin-top: 12px;
  }
  .footer-contain p {
    margin-top: 0;
    margin-bottom: 0;
  }
  .price-container p:nth-child(1) {
    font-size: var(--md);
    font-weight: bold;
    margin-bottom: 4px;
  }
  .price-container p:nth-child(2) {
    font-size: var(--sm);
    color: var(--Very-ligth-pink);
  }
  

  @media (max-width: 640px) {
    .draw-menu{
        display: none;
    }
    .menu {
      display: block;
    }
    .nav-left ul {
      display: none;
    }
    .email {
      display: none;
    }
    .nav-right {
      margin-right: 0;
    }
    .nav-left {
      margin: 0;
    }
    .detail-container{
      position: static;
      margin-left: 7px;
    }
    .cards-container {
      grid-template-columns: repeat(auto-fill, 140px);
    }
    .card-product {
      width: 140px;
    }
    .card-product > img {
      width: 140px;
      height: 140px;
    }
    .card-product figure img {
      width: 30px;
      height: 30px;
    }
  }
  @media (min-width: 641px){
    .menu-mobile{
      display: none;
    }

  }